# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#sftp-config local server
sftp-config.json

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version
.pyc

# dotenv
.env

# virtualenv
venv/
ENV/

# sublime project settings
.sublime-project
.sublime-workspace

# Don't add xml
*.xml

# Sphinx documentation
docs/_build/
