pyglet<=1.5.0,>=1.4.0
setuptools>=41.0.0
protobuf
opencv-python
ray==0.8.3
gym
numpy
scipy
lxml
pyprind
nose2
six
path.py
joblib
python-dateutil
cached_property
cloudpickle
matplotlib
tabulate
tensorflow
numpydoc
dill
lz4
setproctitle
psutil
pandas
opendssdirect.py
PyYAML
tqdm
dm-tree